<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">



 <menuitem title="Contacts2" name="contact-root" icon="fa-address-book" left="true" top="false" icon-background="red"/>

 <menuitem title="test3" name="test3-root" icon="" left="true" top="false" icon-background="#00ff00"/>
 <menuitem name="test2" title="test2" parent="test3-root" action="action-test2"/>
 <menuitem name="test1" title="test1" parent="test3-root" action="action-test1"/>

 <action-view name="action-test2" title="Test22" model="com.axelor.contact.db.EmailAddress">
  <view type="form" name="email-address-form"/>
  <view type="grid" name="email-address-grid"/>
</action-view>

<action-view name="action-test1" title="Address" model="com.axelor.contact.db.Address">
  <view type="form" name="address-form"/>
  <view type="grid" name="address-grid"/>
</action-view>





  <menuitem name="country.all" title="Countries" parent="contact-root" action="action-country-all"/>

  <action-view name="action-country-all" title="Countries" model="com.axelor.contact.db.Country">
    <view type="form" name="country-form"/>
    <view type="grid" name="country-grid"/>
  </action-view>

</object-views>
