<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">



 <menuitem title="Contacts2" name="contact-root" icon="fa-address-book" left="true" top="true" icon-background="red"/>




  <menuitem name="country.all" title="Countries" parent="contact-root" action="action-country-all"/>

  <action-view name="action-country-all" title="Countries" model="com.axelor.contact.db.Country">
    <view type="form" name="country-form"/>
    <view type="grid" name="country-grid"/>
  </action-view>

</object-views>
